@charset "UTF-8";

#wrap.sub .inner {
  max-width: 1260px;
}

#wrap.sub header .gnb {
  margin: 0 95px 0 10px;
}

.main-wrap {
  margin-top: 95px;
  padding: 33px 0 42px;
}

.main-wrap .inner {
  justify-content: space-between;
  align-items: flex-start;
}

.left-menu-wrap {
  width: 240px;
}

.left-menu-title {
  width: 100%;
  height: 98px;
  background: url('../img/sp_com.png') no-repeat 100% -200px;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  padding-top: 22px;
}

.left-menu-title i {
  color: #ffffff;
  font-size: 40px;
}

.left-menu-title h2 {
  color: #ffffff;
  font-size: 26px;
  font-weight: 400;
  letter-spacing: -1px;
  margin: 3px 0 0 5px;
}

.left-menu-list {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.menu-list-title {
  width: 100%;
  margin-bottom: 5px;
}

.menu-list-title > a {
  position: relative;
  width: 100%;
  display: inline-block;
  padding: 18px 15px;
  border: 1px solid #d8d8d8;
  border-radius: 3px;
  color: #333333;
  font-size: 16px;
  font-weight: 600;
}

.menu-list-title.on > a {
  background-color: #4c82c3;
  border-color: #4c82c3;
  color: #ffffff;
}

.menu-list-title .unfd {
  position: absolute;
  top: calc(50% - 2.5px);
  right: 15px;
  width: 9px;
  height: 5px;
  display: inline-block;
  background: url('../img/sp_com.png') no-repeat 0 -210px;
}

.menu-list-title.on .unfd {
  background-position: -10px -210px;
}

.menu-list-title > ul {
  height: 0;
  overflow: hidden;
  transition: all 0.3s;
}

.menu-list-title > ul.active {
  margin-top: 10px;
  height: auto;
}

.sub-menu-title a {
  font-size: 14px;
}

.sub-menu-title > a {
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 8px 20px;
  color: #444444;
}

.sub-menu-title.on > a,
.sub-menu-list li.on > a {
  font-weight: 600;
  color: #ee501f;
}

.sub-menu-title > a::before {
  content: '';
  width: 3px;
  height: 3px;
  position: absolute;
  top: 50%;
  left: 10px;
  background-color: #666666;
}

.sub-menu-title.on > a::before {
  background-color: #ee501f;
}

.sub-menu-list {
  width: 100%;
  padding: 5px 0;
  background-color: #f8f8f8;
}

.sub-menu-list a {
  position: relative;
  display: inline-block;
  padding: 4px 10px 4px 35px;
  font-size: 14px;
  line-height: 18px;
}

.sub-menu-list a::before {
  content: '';
  width: 4px;
  height: 1px;
  position: absolute;
  top: 15px;
  left: 20px;
  background-color: #555555;
}

.sub-menu-list li.on a::before {
  background-color: #f05000;
}

.main-con-wrap {
  width: 960px;
}

.main-con-header {
  position: relative;
}

.main-con-header h1 {
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: -3px;
  color: #444444;
}

.sns-btns {
  position: absolute;
  right: 0;
  bottom: 0;
}

.sns-btns li {
  float: left;
  margin-left: 3px;
}

.sns-btns li a {
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 3px;
  background: url('../img/sp_com.png') no-repeat 0 0;
}

.sns-btns li a.print-btn {
  background-position: -50px -100px;
}

.sns-btns li a.plus-btn {
  background-position: -110px -100px;
}

.sns-btns li a.minus-btn {
  background-position: -140px -100px;
}

.sns-btns li a.facebook-btn {
  background-position: -170px -100px;
}

.sns-btns li a.twitter-btn {
  background-position: -200px -100px;
}

.sns-btns li a.kakao-btn {
  background-position: -260px -100px;
}

.main-con-body {
  margin: 35px 0;
}

.main-con-footer {
  width: 100%;
  border: 1px solid #d6d6d6;
  border-radius: 5px;
  padding: 30px 30px 20px;
}

.con-footer-top {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 20px;
}

.con-footer-top::before {
  content: '';
  position: absolute;
  top: 0;
  width: 54px;
  height: 47px;
  background: url('../img/sp_com.png') no-repeat 0 -130px;
}

.con-rating {
  padding-left: 74px;
}

.con-rating h4 {
  color: #333333;
  margin-bottom: 10px;
}

.con-rating label {
  font-size: 14px;
  color: #444444;
}

.con-footer-top button {
  display: block;
  background-color: #024da1;
  padding: 8px 12px;
  border-radius: 3px;
  color: #ffffff;
  font-size: 14px;
  line-height: 1.2;
}

.con-footer-bottom {
  width: 100%;
  padding: 20px 30px;
  border: 1px solid #cccccc;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.con-footer-bottom p {
  font-weight: 600;
  color: #444444;
}

.con-footer-bottom li {
  float: left;
  color: #444444;
  font-weight: 600;
}

.con-footer-bottom li span {
  position: relative;
  margin-left: 10px;
  padding-left: 10px;
  margin-right: 20px;
}

.con-footer-bottom li span::before {
  content: '';
  position: absolute;
  top: 3.5px;
  left: -2px;
  width: 1px;
  height: 14px;
  background-color: #cccccc;
}

.con-footer-bottom span {
  font-weight: 400;
  color: #444444;
}

.footer-info {
  width: 65%;
}
