@charset "UTF-8";

@media screen and (max-width:1400px){
  .inner {
    width: 95vw;
    max-width: 95vw;
  }

  .logo img {
    width: 90%;
  }

  .gnb {
    height: 95px;
    line-height: 95px;
    margin: 0 4% 0 3%;
    width: 50%;
  }

  .gnb li {
    margin: 0 4%;
  }

  .gnb li a {
    font-size: 1.1rem;
  }

  .util-area {
    position: absolute;
    right: 30px;
  }

  .left-menu-wrap {
    flex-shrink: 0;
    max-width: 240px;
    margin-right: 2%;
  }

  .main-con-wrap {
    width: 80%;
  }

  .sns-btns {
    right: 0;
  }

  .breadcrumb {
    width: 80%;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .breadcrumb li {
    margin-right: 20px;
  }

  .breadcrumb.comm li:last-child {
    font-weight: 600;
  }

  .breadcrumb li,
  .breadcrumb li i {
   font-size: 0.8em;
  }

  .page-btns button {
    width: 25%;
  }

  .tac {
    width: 100%;
  }

  .tac img {
    width: 100%;
  }

  .map-wrap {
    width: 100%;
  }

  .info-search-wrap {
    width: 100%;
  }

  .download-wrap {
    padding: 0;
  }

  .download-wrap ul li {
    padding: 10px 12px;
  }

  .footer-info {
    width: 55%;
  }
}

@media screen and (max-width:1024px){
  .header {
    height: 55px;
    border-bottom: none;
  }

  .gnb-all-wrap,
  .search-all-wrap {
    display: none;
  }

  .logo img {
    width: 70%;
  }

  .gnb {
    display: none;
  }

  .util-area {
    right: 20px;
  }

  .util-area button:not(:last-child) {
    display: none;
  }

  .main-wrap {
    margin-top: 55px;
  }

  .left-menu-wrap {
    display: none;
  }

  .main-con-wrap {
    width: 100%;
  }

  .footer-wrap {
    background-color: #ffffff;
    text-align: center;
  }

  .footer-menu {
    width: auto;
    text-align: center;
    padding: 10px 0;
    border-bottom: 0;
  }

  .footer-menu li:not(.on) {
    display: none;
  }

  .footer-menu li a {
    font-size: 0.9em;
  }

  .footer-logo {
    display: none;
  }

  .footer-info {
    width: 100%;
    margin-top: 10px;
    margin-left: 0;
  }

  .footer-info p {
    margin-bottom: 15px;
    font-size: 0.9em;
  }

  .footer-bottom {
    position: relative;
  }

  .wa-banner {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .call img {
    width: 75%;
  }

  .wa {
    display: none;
  }
}

@media screen and (max-width:768px){
  .inner {
    min-width: 325px;
  }

  .util-area {
    right: 10px;
  }

  .main-con-header h1 {
    font-size: 2em;
  }

  .sns-btns li:nth-child(1),
  .sns-btns li:nth-child(2),
  .sns-btns li:nth-child(3) {
    display: none;
  }

  .sns-btns {
    bottom: -40px;
  }

  .breadcrumb {
    width: 100%;
    padding: 10px 5px;
    margin-bottom: 50px;
    border-bottom: 1px solid #cccccc;
  }

  .breadcrumb li:not(:first-child)::before {
    display: none;
  }

  .breadcrumb li:not(:last-child)::after {
    content: '';
    position: absolute;
    top: 3px;
    right: -13px;
    width: 7px;
    height: 11px;
    background: url('../img/sp_com.png') no-repeat -20px -100px;
  }

  .page-btns {
    display: flex;
    justify-content: space-between;
  }

  .page-btns button {
    width: 49%;
  }

  .con-table-wrap {
    overflow-x: auto;
  }

  .con-table {
    min-width: 540px;
  }

  .main-con-footer {
    padding: 20px 10px;
  }

  .con-footer-top {
    flex-wrap: wrap;
    text-align: center;
  }

  .con-footer-top::before {
    display: none;
  }

  .con-rating {
    width: 100%;
    padding-left: 0;
  }

  .con-rating h4 {
    width: 100%;
    font-size: 0.9em;
  }

  .con-rating form {
    width: 100%;
    margin: 15px 0;
  }

  .con-rating label {
    font-size: 0.8em;
  }

  .con-footer-top button {
    width: 100%;
  }

  .con-footer-bottom {
    padding: 10px;
  }

  .con-footer-bottom li:not(:last-child) {
    margin-bottom: 10px;
  }

  .con-footer-bottom p {
    margin-top: 5px;
  }

  .con-footer-bottom span {
    display: inline-block;
    margin-top: 5px;
  }

  .info-search-box .select {
    font-size: 0.8em;
  }

  .intro-img {
    height: 100%;
  }

  .intro-img img {
    width: 100%;
  }

  .download-wrap ul {
    flex-wrap: wrap;
  }

  .download-wrap ul li {
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
    padding: 12px 0;
  }

  .footer-menu {
    margin:0 auto;
    font-size: 0.9em;
  }

  .footer-menu li {
    margin: 0 5px;
  }

  .footer-menu li:not(:first-child)::before {
    left: -5px;
  }

  .footer-info p {
    font-size: 0.85em;
    line-height: 1.5;
    margin-bottom: 15px;
  }

}
